<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DayOff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <DayOff.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>https://api.mongolab.com/api/1/databases/ppt_data/collections/days_dev</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>uoP_DqveeSjWFrThA4bgkq5GM3Obsaxv</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>5000</value>
            </setting>
        </DayOff.Properties.Settings>
    </applicationSettings>
</configuration>
